body {
  margin: 0;
  width: 100%;
}
a {
  font-family: Roboto;
}
h1 {
  font-family: pt_serif, arial, helvetica, sans-serif;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
}
.header-logo__name {
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.header-logo__ellipse {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #0056EC;
  border-radius: 50%;
}
.header-logo__ellipse_light{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}
.header-burger {
  display: none;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu__link {
  padding: 0 13px;
}
.header-menu__link:last-child {
  padding-right: 0;
}
.header-menu__link:first-child {
  padding-left: 0;
}
.content {
  display: flex;
}
.content-information {
}
.content-information__title {
}
.content-information__text {
}
.content-information__button {
}
.content__foto {
}
