body {
  margin: 0;
  width: 100%;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.header-logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
}
.header-logo__name {
  font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
}
.header-logo__ellipse {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #0056EC;
  border-radius: 50%;
}
.header-logo__ellipse_light{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}
.header-burger {
  display: none;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu__link {
  position: relative;
  margin-right: 26px;
  font: 500 14px/16px Roboto,arial, helvetica, sans-serif;
  color: black;
  text-decoration: none;
}
.header-menu__link:last-child {
  margin-right: 0;
}
.header-menu__link:first-child {
  padding-left: 0;
}
.header-menu__link:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s,width .5s;
}
.header-menu__link_active:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
  opacity: 1;
}
.header-menu__link:hover {
  opacity: .5;
}
.header-menu__link:hover:after {
  opacity: 1;
  width: 100%;
}
.content {
  padding: 0 60% 100px 0;
  background: top right no-repeat url(img/contentImg.svg);
}
.content__title {
  font: bold 50px/66px pt_serif, arial, helvetica, sans-serif;
  color: black;
  margin: 0 0 40px 0;
}
.content__title_highligth {
  background: #ECF3FF;
}
.content__text {
  font: 18px/21px Roboto,arial, helvetica, sans-serif;
  margin: 0 0 41px 0;
}
.content__button {
  font: 14px/16px Roboto,arial, helvetica, sans-serif;
  padding: 14px 16px;
  color: #FFFFFF;
  background: #0056EC;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}
.content__button:hover {
  opacity: .5;
}
